@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*CLASES UTILITARIAS*/
a {
    text-decoration: none;
    color: white;
}
.colorGris{
    color: rgb(170, 170, 170);
}
.colorVerde{
    color: #27A644
}
.colorBlanco{
    color: white;
}
/*----HEADER----*/
.cabecera{
    background-color: rgb(53, 58, 64);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1em;
}
.contenedorLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
header div nav ul li {
    list-style-type: none;
    display: inline;
    margin: 5px;
}
.checkbox, .icono{
    display: none;
}
/*---BODY----*/
.conferencia{
    height: 600px;
    background: linear-gradient(to bottom, #050505a1, #111111b3, #191919b3), url("../assets/img/ba1.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: right;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
}
.conferenciaInfo{
    width: 45%;
    margin-right: 120px;
    font-size: 1.3em;
}
.conferenciaEnlace{
    margin-top: 40px;
}
.botonBlanco{
    border: 1.5px solid white;
    border-radius: 5px;
    padding: 15px; 
    margin: 5px;
}
.botonVerde{
    background-color: #27A844;
    border: 1.5px solid #27A844;
    border-radius: 5px;
    padding: 15px; 
    margin: 5px;
}
/*---------CARDS CONOCE A LOS ORADORES---------*/
.textoChico{
   text-align: center;
   font-size: 0.9em;
   color: rgb(75, 75, 75); 
   margin-top: 15px;
}
.textoGrande{
    font-size: 1.9em;
    color: #000000;
}
.contenedorCard{
    width: 70%;
    margin: 20px auto 30px;
    display: flex;
    justify-content: space-evenly;
    }
    .cardImagen{
        width: 30%;
        display: inline-block;
        border: 1px solid rgb(195, 193, 193);
        border-radius: 5px;
    }
    .cardImagen img{
        width: 100%;
        border-radius: 5px 5px 0px 0px;
    }
    .textoJs{
        color: black;
        background-color: rgb(255, 208, 0);
        margin-left: 15px;
    }
    .textoReact{
        color: white;
        background-color: rgb(109, 189, 215);
    }
    .txtNegocios{
        background-color: grey;
        color: white;
        margin-left: 15px;
    }
    .txtStartup{
        background-color: red;
        color: white;
    }
    .cardImagen h4{
        font-size: 0.7em;
        margin-top: 15px;
        padding: 2%;
        display: inline-block;
        border-radius: 5px;
    }
    .cardImagen h3{
        margin-left: 15px;
        margin-right: 8px;
        margin-top: 2px;
    }
    .cardImagen p{
        margin-left: 15px;
        margin-right: 8px;
        margin-top: 15px;   
        margin-bottom: 10px;  
    }
/*----------------FECHA LUGAR------------*/
.contenedorFecha{
width: 100%;
height: 400px;
background-image: url("../assets/img/honolulu.jpg");
background-position: left;
background-size: 49%;
}
.octubre{
    width: 51%;
    height: 100%;
    color: white;
    float: right;
    border: 1px solid white;
    background-color: rgb(53, 58, 64);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.margenOct{
    margin-top: 16px;
    margin-left: 20px;
}

.octubre span{
    margin-top: 25px;
    margin-left: 20px;
}

.octubre span a {
    border: 1px solid white;
    border-radius: 4px;
    padding: 6px;
}
/*---FORMULARIO---*/
.charlaIgnite{
    text-align: center;
    margin-top: 15px;
}
.contenedorFormulario{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; /*para ubicar el formulario en el centro*/
}
.formulario{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.contenedorInput{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contenedorInput input{
    width: 35%;
    margin: 8px;
    padding: 5px 5px 8px;
    border: 1px solid rgb(195, 193, 193);
    border-radius: 5px;
    font-size: 1em;
}
.contenedorText{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.contenedorText textarea{
    width: 65%;
    height: 120px;
    border: 1px solid rgb(195, 193, 193);
    border-radius: 5px;
    margin-top: 8px;
    min-width: 64%;
    max-width: 90%;
    min-height: 30%;
    max-height: 450px;
    font-size: 1.2em;
    padding: 10px;
}
.incluyeTitulo{
    margin-top: 6px;
    color: #757575;
    font-size: 0.8em;
}
.botonSubmit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="submit"]{
    background-color: #96C93E;
    width: 65%;
    padding: 15px;
    margin: 14px;
    border: none;
    border-radius: 5px;
    color: antiquewhite;
    font-size: 1.2em;
    cursor: pointer;
}
/*----FOOTER---*/
footer{
    height: 120px;
    background-image: linear-gradient(to right, #1c3643, #1c3d4e, #1d445a, #1d4c66, #1e5372);
    display: flex;
    justify-content: center;
}
.contenedorLista{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
}
.contenedorLista ul li{
    height: auto;
    display: inline-flex;
    margin: 20px;
}
.contenedorLista ul li a{
    color: #adadad;
}
.contenedorLista ul li a:hover{
    color: #27A644;
}
/*---------------MOBILE----------*/
@media screen and (max-width: 991px){ 
.cabecera{
    justify-content: space-between;
}
.contenedorLogo{
    justify-content: flex-start;
}
/*---MENÚ HAMBURGUESA---*/
nav{
   display: flex;
   justify-content: center;
   align-items: baseline;
}
.checkbox, .icono{
    display: flex;
    align-content: center;
    width: 24px;
    height: 24px;
    position: sticky;
    top: 10px;
    right: 25px;
    cursor: pointer;
}
.icono{
    pointer-events: none;
}
.checkbox{
    opacity: 0;
}
.cierre{
    display: none;
}
.checkbox:checked ~ .menuHamburguesa{
    display: none;
}
.checkbox:checked ~ .cierre{
    display: block;
}
.menu{
    position: absolute;
    width: 100%;
    top: 77px;
    right: 0px;
    display: none;
    background-color: rgb(53, 58, 64);
}
.menu li a{
    background-color: rgb(53, 58, 64);
    display: block;
    padding:10px 12px;
    margin: 0px;
}
.menu li a:hover{
    background-color: #1e5372;
}
.checkbox:checked ~ .menu{
    display: block;
}

/*------------CONFERENCIA-----------*/
.conferencia{
    height: 500px;
}
.conferenciaInfo{
    width: 72%;
    margin-right: 40px;
    font-size: 1.1em;
}
.conferenciaEnlace{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    text-align: center;
    margin-top: 12px;
}
/*---------CARDS CONOCE A LOS ORADORES---------*/
.contenedorCard{
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.cardImagen{
    width: 70%;
    margin: 12px;
}
/*------CONTENEDOR FECHA-------*/
.contenedorFecha{
    height: 580px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 120%;
    display: flex;
    flex-direction: column-reverse;
}
.octubre{
    width: 100%;
    height: 50%;
    flex-direction: row;
    border: none;
}
.margenOct{
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

/*---FORMULARIO---*/
.charlaIgnite{
    text-align: center;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.formulario{
    width: 85%;
}
.contenedorInput{
    width: 100%;
}
.contenedorInput input{
    width: 90%;
}
.contenedorText textarea{
    width: 100%;
    min-height: 100px;
    max-height: 200px;
}

input[type="submit"]{
    width: 90%;
}
/*----FOOTER---*/
footer{
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to right, #1c3643, #1c3d4e, #1d445a, #1d4c66, #1e5372);
    display: flex;
    justify-content: center;
    align-items:center ;
}
.contenedorLista{
    width: 80%;
    justify-content: center;
    align-items:center;
}
.contenedorLista ul li{
    justify-content: center;
    align-items:center;
    width: 100%;
    text-align: center;
    margin: 5px;
    color: #757575;
}
}

